  <!-- footer -->
            <div class="row mt-5 p-md-5 foot text-white">
                <div class="col-md-3">
                    <ul>
                        <li><a href="/about/">About us</a></li>
                        <li><a href="/terms/">Terms and Condition</a></li>
                        <li><a href="/privacy/">Privacy Policy</a></li>
                        <li><a href="/advertise/">Advertise with us</a></li>
                    </ul>
                </div>

                <div class="col-md-5">
                 <h4>   What you can do:</h4>
                 <p>- Register as a Landlord to upload vacant spaces</p>
                 <p>- Register as a user to find suitable apartments</p>
                 <p>- Welcome and Goodluck! </p>
                </div>

                <div class="col-md-4">
                    <h5>Complaints or Advertisement?</h5>
                    <p><a href="/advertise/" class="text-warning">click here to contact us</a></p>
                  <p>copyright: &copy 2025</p>
                </div>
            </div>
                
         <!-- container ends -->
    </div>
    
    <script src="/static/bootstrap/js/bootstrap.bundle.js"></script>

