{% include 'user/header.html' %}
        
     <!-- form section -->
      <div class="row">
        <div class="offset-3 col-6">
            <h1 class="text-center">Privacy Policy</h1>
            <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Introduction
                </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">At Rent-Easy, we take your privacy seriously. This Privacy Policy explains how we collect, use, store, and protect your personal information when you use our platform, whether as a property owner or a renter. By accessing or using our website or services, you agree to the practices outlined in this policy.</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                   Information We Collect
                </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">We collect information from users who interact with our platform in the following ways:

                Personal Information:
                Property Owners: When you create an account to list your vacant property, we collect your name, contact information (email address, phone number), property details, and payment information.
                Renters: When you create an account to search for and rent properties, we collect your name, contact information (email address, phone number), rental preferences, and payment information. Usage Data:
                We collect information about how users interact with our website and services, including IP addresses, browser types, device information, pages visited, and timestamps of actions. This helps us improve our platform and provide better services to our users.

                Cookies and Tracking Technologies:
                We use cookies and other tracking technologies to enhance your experience on our platform. These tools allow us to track your browsing behavior and remember your preferences, making it easier for you to use our services. You can control the use of cookies through your browser settings.</div>
                </div>
            </div>
             <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefour" aria-expanded="false" aria-controls="flush-collapsefour">
                   How We Use Your Information
                </button>
                </h2>
                <div id="flush-collapsefour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">We use the information we collect for the following purposes:

            To provide services: To help property owners list vacant properties and renters find suitable rental options.
            To manage your account: To facilitate account registration, maintenance, and communication.
            To process payments: To complete rental transactions and other financial activities.
            To improve our platform: To analyze user interactions with our website, identify trends, and improve our services.
            To communicate with you: To send important information, updates, and promotional material (if you have opted-in).
            To ensure compliance: To monitor and enforce compliance with our Terms and Conditions and prevent fraudulent activities.</div>
                </div>
            </div>
             <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefive" aria-expanded="false" aria-controls="flush-collapsefive">
                    How We Protect Your Information
                </button>
                </h2>
                <div id="flush-collapsefive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">We implement security measures to safeguard your personal information, including encryption, firewalls, and secure server protocols. However, no method of transmission over the internet or electronic storage is 100% secure, and while we strive to protect your data, we cannot guarantee absolute security.</div>
                </div>
            </div>

             <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsesix" aria-expanded="false" aria-controls="flush-collapsesix">
                   Sharing Your Information
                </button>
                </h2>
                <div id="flush-collapsesix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">We do not sell, rent, or share your personal information with third parties, except in the following circumstances:

                Service Providers: We may share your information with trusted third-party service providers who assist with our platform’s operations (e.g., payment processors, hosting providers). These providers are obligated to protect your information and may only use it for the purposes of providing services to us.
                Legal Compliance: We may disclose your information when required by law or to protect the rights, property, or safety of [Your Company Name], its users, or others.</div>
                </div>
            </div>
             <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                   Your Rights and Choices
                </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">As a user, you have the following rights regarding your personal information:

                Access and Update: You can access and update your account information at any time through your profile settings.
                Delete Account: You can request to delete your account by contacting us. Please note that certain information may need to be retained for legal or transactional purposes.
                Opt-Out of Communications: If you no longer wish to receive promotional emails or communications from us, you can opt-out by following the unsubscribe link in the emails or adjusting your communication preferences in your account settings.</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Data Retention
                </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">We retain your personal information for as long as necessary to fulfill the purposes outlined in this Privacy Policy or as required by law. When your information is no longer needed, we will securely delete or anonymize it.</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Children’s Privacy
                </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Our platform is not intended for use by individuals under the age of 18, and we do not knowingly collect personal information from children. If you are a parent or guardian and believe we have collected information from a child, please contact us immediately so we can delete that information.</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  Changes to This Privacy Policy
                </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">We may update this Privacy Policy from time to time. Any changes will be posted on this page with an updated “Effective Date.” We encourage you to review this Privacy Policy periodically to stay informed about how we protect your information.</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                   Contact Us
                </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">If you have any questions or concerns about this Privacy Policy, or if you would like to exercise your rights regarding your personal information, please contact us</div>
                </div>
            </div>
            </div>
        </div>
      </div>

           {% include 'user/footer.html' %}
</body>
</html>